# Binários compilados
src/tcc2
src/*.o
*.exe
src/*.txt

src/resultados-300s/
src/resultados-600s/
src/resultados-correcoes/
src/dummies/
# Resultados de execução (grandes, gerados)
resultados/*.csv

# Temporários
*.swp
*.tmp
tempCodeRunnerFile.cpp

# Pasta original do Filipe (já copiado para src/ e instancias/)
tcc2-public-main/

docs/

